<%- include('partials/head') %>
<body>
    <header id="user-header" <% if(!username){ %>class="wide"<% }%>>
        <img src="img/person.png">
        <% if(username){ %>
        <p id="name"><%= username %></p>
        <% } else { %>
        <p id="name">Login</p>
        <% } %>
        <p id="dropdown-toggle"><i class="fas fa-chevron-circle-down"></i></p>
        <div id="profile-dropdown">
            <% if(username){ %>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <% } else { %>
                <form action="" method="post" id="loginform">
                <label for="username">Username</label><br>
                <input required type="text" id="username">
                <label for="password">Password</label><br>
                <input required type="password" id="password">
                <div class="flex mg-top-small"><a href="/register">register</a><input type="submit" id="login-submit" value="login"></div>
                </form>
                <p id="loginerror">Please try again.</p>
            <% } %>

        </div>
    </header>
    <main class="center mg-top-huge">
        <div class="content">
            <h1 class="mg-top-big">Coding together!</h1>
            <p>Create an account or login to start coding!</p>
            <p>You can create "Protected" and "Public" projects. In "Public" projects, anyone who has this link can access the project.<br>If you set the privacy to "Private", only invited users can join your project. (They have to register)</p>
            
        </div>
    </main>
    <script src="js/main.js"></script>
</body>
</html>