@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    list-style-type: none;
}

:root{
    --c-bg: #10161a;
    --c-link: #e48120;
}

a {
    text-decoration: none;
    color: var(--c-link);
}

a:hover{
    text-decoration: underline;
}

.small{
    font-size: 12px;
}

.center{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.center > .content{
    width: 940px;
}

ul li{
    list-style-type: disc;
    margin-left: 20px;
}

body{
    background: var(--c-bg);
    color: white;
}

button{
    cursor: pointer;
    padding: 10px;
}

header{
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    align-items: center;
    padding: 10px;
    transition: background-color 0.15s ease-in-out;
}
header.open{
    background: white;
    color: var(--c-bg);
}
header.wide{
    width: 200px;
}

#name{
    margin: 0 20px;
}

#dropdown-toggle{
    cursor: pointer;
}

header img{
    width: 40px;
}

#loginerror, #usernameerror, #emailerror{
    color: red;
    display: none;
}

#profile-dropdown{
    position: absolute;
    top: 60px;
    right: 0;
    text-align: right;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: white;
    padding: 0;
    transition: height 0.15s ease-in-out;
    border-top: 1px solid var(--c-bg);
}

.open #profile-dropdown{
    height: auto;
    padding: 20px;
}


/********* REGISTER ***********/

.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.register-container>div{
    width: 600px;
    padding: 40px;
    color: var(--c-bg);
    background: white;
}

/******** DASHBOARD *************/

.projects-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.projects-container .project-card{
    display: block;
    background: white;
    color: var(--c-bg);
    padding: 20px;
}

/******** CODE EDITOR **************/

#closemsg{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    z-index: 200;
}
#closemsg>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 50px;
    background: white;
    color: var(--c-bg);
}

#add-contributor{
    width: 80%;
}
#contributor-list button{
    padding: 3px;
}
#contributor-list span{
    margin-top: 3px;
}
#contributor-list li{
    margin-top: 10px;
}

#menu{
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -300px;
    top: 0;
    background: white;
    color: var(--c-bg);
    transition: right 0.2s ease-in-out;
    padding: 80px 20px 20px 20px;
    font-size: 20px;
    z-index: 100;
}
#menu.open{
    right: 0;
}

#menu.open #menu-toggle{
    color: var(--c-bg);
}
#menu-toggle{
    position: fixed;
    top: 30px;
    right: 40px;
    width: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#codeeditor{
    width: 100vw;
    transition: width 0.2s ease-in-out;
    height: 100vh;
}
#codeeditor.collapsed{
    width: calc(100vw - 300px);
}

#codeeditor>.CodeMirror{
    height: 100%;
}

@media screen and (max-width: 570px) {
    #menu{
        width: 100vw;
        right: -100vw;
    }
    #codeeditor.collapsed{
        width: 100vw;
    }
}

@media screen and (max-width: 1000px){
    .center > .content{
        width: 100vw;
        padding: 0 10px;
    }
}

  .mg-top-small{
      margin-top: 16px;
  }
  .mg-top-big{
      margin-top: 40px;
  }
  .mg-bottom-small{
      margin-bottom: 16px;
  }
  .mg-bottom-big{
      margin-bottom : 40px;
  }
  .mg-top-huge{
      margin-top: 80px;
  }

  /************ NEW PROJECT *********/

  #newproject{
      display: none;
  }

  /********* INPUT SLIDER ***********/
  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

 .flex{
     display: flex;
     justify-content: space-between;
 }